/* stijl.css - labo 3, tabblad (reset.css is linked before this file) */

/* === tokens === */
:root {

}

/* === your rules === */
h1{
    background-color: #ffd500 ;
    border: .25rem solid black;
    font-size: 1.2rem;
    width: 15rem;
    height: 3rem;
    padding: .8rem;
    box-shadow: -0.40rem 0.40rem #000000;
    border-bottom: none;
    font-weight: lighter;
    padding-left: 1.2rem;


}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff816f;
    margin: 5rem;
}

h2{
    background-color: white;
    border: .25rem solid black;
    font-size: 3rem;
    padding: 1.5rem;
    width: 35rem;
    text-align: left;
    box-shadow: 0.40rem 0.40rem 0 #000000, -0.40rem 0.40rem 0 #000000;
}   